@{
    Layout = "_LayoutHomePage";
}

<div style="position: absolute; width: 600px; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color:floralwhite; padding:20px; border-radius:7px">

    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Riyad@safsp.org.sa" ">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" readonly class="form-control" id="inputPassword" value="YouKnowItIsNotThisOne">
        </div>
        <a href="/Games/Index" class="btn btn-primary"> Sign In</a>
    </div>

</div>