@{
    var Musics = (List<MusicModel>)ViewData["Musics"];
    var Rating = (List<RateModel>)ViewData["Rating"];
    var id = (int)ViewData["id"];
}



@foreach (var Music in Musics)
{
    if (id == -1)
    {

        <div class="container text-center card1" style="height:260px;margin-top:40px">

            <div class="row">

                <div class="col-4">
                    <img src=@Music.Music_image class="container_img" />
                </div>
                <div class="col-8" style="text-align:left;margin-top:50px">
                    <a class="link1" href="/Musics/Details/@Music.Id">
                        <h1  style="color: #78a09c">@Music.title</h1>
                        </a>

                        @foreach (var rate in Rating)
                        {
                            if (rate.MusicId == Music.Id)
                            {

                                @for (var i = 0; i < 5; i++)
                                {
                                    if (i < rate.score)
                                    {
                                        <i class="fas fa-star" style="color:orange"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-star" style="color:orange"></i>
                                    }
                                }

                            }
                        }
                        <audio controls style=" width: 655px;margin-top:20px">

                            <source src=@Music.audio type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>


                </div>
            </div>
        </div>
    }
    else if (Music.ProfileId == id)
    {
        <div class="container text-center card1" style="height: 260px;margin-top: 40px">

            <div class="row">

                <div class="col-4">
                    <img src=@Music.Music_image class="container_img" />
                </div>
                <div class="col-8" style="text-align:left;margin-top:50px">
                    <a class="link1" href="/Musics/Details/@Music.Id">
                        <h1  style="color: #78a09c">@Music.title</h1>
                    </a>
                    @foreach (var rate in Rating)
                    {
                        if (rate.MusicId == Music.Id)
                        {

                            @for (var i = 0; i < 5; i++)
                            {
                                if (i < rate.score)
                                {
                                    <i class="fas fa-star" style="color:orange"></i>
                                }
                                else
                                {
                                    <i class="far fa-star" style="color:orange"></i>
                                }
                            }

                        }
                    }
                    <audio controls style=" width: 655px;margin-top:20px">

                        <source src=@Music.audio type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>


                </div>
            </div>
        </div>

    }

}

