@{
    var departments = (List<DepartmentModel>)ViewBag.Departments;


}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Head Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in departments)
        {
        <tr>
            <td>@department.ID</td>
            <td>@department.Name</td>
            <td><a href="/Physicians/details/@department.PhysicianId">@department.PhysicianId</a></td>
        </tr>
        }
    </tbody>
</table>
