@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br /><br />
    <a href="/products/"><button style="margin-right:3em; width:15em;height:5em" type="button" class="btn btn-outline-info">Products</button></a>
    <a href="/services/"><button style="margin-right:3em; width:15em;height:5em" type="button" class="btn btn-outline-info">Services</button></a>
</div>
