@page
@model BooksStoreMVC.Views.Publishers.IndexModel
@{
    var publishers = (List<PublisherModel>)ViewBag.publishers;


}

@foreach (var PUb in publishers)
{

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@PUb.PubId</h5>
            <p class="card-text">@PUb.PubPhone | @PUb.PubName</p>
            <a href="#" class="btn btn-primary"> publishers</a>
        </div>
    </div>
}
