/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.main2 {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/duuconncq/image/upload/v1622901621/image_em5lry.png);
    background-size: cover;
    background-position: center;
}

.The-Main-page {
    transition: 0.9s ease;
    color: #b3dcd6
}

    .The-Main-page:hover {
        color: white;
    }


.text-nav:hover {
    transform: scale(1.2);
}

.nav-text1:hover {
    color: #78a09c
}

.nav-text2:hover {
    color: white;
}

.nav-text3 {
    color: white;
    font-size: 40px
}

.h1-main1 {
    font-family: 'Fredoka One', cursive;
    
    margin-top: 120px;
    margin-left: 250px;
    font-size: 75px
}

.h1-word-main1 {
    transition: 0.9s ease;
}

    .h1-word-main1:hover {
        color: #b3dcd6;
    }





.h1-main2 {
    font-family: 'Fredoka One', cursive;
    color: white;
    margin-left: 250px;
    font-size: 75px
}

.h1-main3 {
    font-family: 'Fredoka One', cursive;
    color: white;
    margin-left: 250px;
    font-size: 75px
}

.h1-main4 {
    font-family: 'Fredoka One', cursive;
    color: white;
    margin-top: -160px;
    margin-left: 1150px;
    font-size: 18px
}

.playicon {
    transition: 0.8s ease;
    font-size: 33px;
}

    .playicon:hover {
        color: #eda7a7;
    }



.text-nav {
    transition: 0.5s ease;
    font-size: 20px;
}

.Home-nav:hover {
    transform: scale(1.2);
}

.Home-nav {
    margin-right: 7.5%;
    transition: 0.5s ease;
    font-weight: bold;
    font-size: 30px
}


.card {
    position: relative;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transition: 0.5s;
    clip-path: polygon(93% 0, 100% 5%, 100% 100%, 0 100%, 0 0);
    cursor: pointer !important;
    margin-left: 50px
}



    .card img {
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        transition: inherit;
    }

    .card:hover img {
        transform: translate(-50%, -50%) scale(1);
    }

    .card span {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #061C25;
        padding: 10px 20px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 18px;
        transition: inherit;
    }

    .card:hover span {
        padding: 10px 30px;
        background: #78a09c;
    }



.card1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-bottom: 30px;
}



    .card1:hover {
        transform: scale(1.07);
    }

.container_img {
    min-width: 100%;
    height: 260px;
    object-fit: cover;
    margin-left: -30px
}

.container_img_onecard {
    min-width: 100%;
    height: 400px;
    object-fit: cover;
    margin-left: -35px
}

.link1:hover {
    text-decoration: none;
}



.footer1 h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer1 ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

    .footer1 ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.6;
    }

        .footer1 ul a:hover {
            opacity: 0.85;
        }





.footer1 .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer1 .copyright {
    padding-top: 24px;
    opacity: 0.5;
    font-size: 13px;
    margin-bottom: 0;
}
