@page
@model BooksStoreMVC.Views.Books.IndexModel

@{
    var Books = (List<BookModel>)ViewBag.Books;

}

@foreach (var Book in Books)
{


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Book.ISBN</h5>
            <p class="card-text">@Book.Title | @Book.Price</p>
        </div>
    </div>
}
