@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHomePage";

}






<div class="text-center">
    <img src="https://www.freepnglogos.com/uploads/games-png/download-games-png-transparent-for-designing-work-5.png" width="500" height="500" class="d-inline-block align-top" alt="">

    <h1 class="display-4">Game On The House </h1>
    <p>
        Your only HOME where you can find all the free games.
        <h3 style="color:floralwhite"> <a style="color:floralwhite" href="/UserAccounts/SignIn">Discover Now!</a></h3>
    </p>
</div>
