
<div class="bg-gradient-to-r from-pink-700 to-red-600 text-center font-semibold">We're reopening and taking strict safety measures</div>
<div class=" home-img hero-img">
    <div class="absolute bottom-48 right-16 w-3/12">
        <p class="text-3xl text-center">"Do not miss this show if it comes to an arena near you"</p>
        <h5 class="font-bold">- BROADWAYWORLD SAN ANTONIO</h5>
    </div>
    
</div>