@{
    var games = (List<Game>)ViewData["games"];
    var companies = (List<Company>)ViewData["companies "];
}


<hr />



<h3>All Games</h3>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>game name</th>
        <th>company</th>
    </tr>
    <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.GameName</td>
                <td>
                    @foreach (var comp in companies)
                    {
                        @if (comp.Id == game.CompanyId) @comp.CompanyName
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<hr />
