@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center w-100">
    <div class="text-center">
        <div class="header">
            <h1 class="display-4 fs-1 white-title">Gathering Caffee</h1>

            <h2 class="align-bottom white-title">Welecome To Our Coffee</h2>
        </div>
        <div class="row text-center">

            <div class="col-6 center-card">
                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Gathering Caffee</div>
                    <div class="card-body">
                        <h5 class="card-title">Coffee</h5>
                        <p class="card-text">Here we have a list of the best hot and cold coffees.</p>
                        <a class="btn btn-primary" href="./Coffees/">Go To Menu</a>
                    </div>
                </div>
            </div>

            <div class="col-6 center-card">
                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">

                    <div class="card-header">Gathering Caffee</div>
                    <div class="card-body">
                        <h5 class="card-title">Sweet and Food</h5>
                        <p class="card-text">Here we have a list of the best Sweet and Food.</p>
                        <a class="btn btn-primary" href="./SweetsAndFoods/">Go To Menu</a>
                    </div>

                </div>
            </div>
        </div>
        @*<div class="row text-center">

                <div class="col-6">

                    <div>
                        <h5> Coffee </h5>
                        <a class="btn btn-primary" href="./Coffees/">Go To Menu</a>
                    </div>
                </div>


                <div class="col-6">

                    <div>
                        <h5> Sweet and Food </h5>
                        <a class="btn btn-primary" href="./SweetsAndFoods/">Go To Menu</a>
                    </div>
                </div>
            </div>*@
    </div>

</div>
