@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="header">
    <h1 class="display-4 fs-1 white-title">Gathering Caffee</h1>
    <h2 class="align-bottom white-title">We have a good policy</h2>
    <h2 class="align-bottom white-title">Contact info</h2>
    <h3 class="align-bottom white-title">tel: +966567800818</h3>
    <h3 class="align-bottom white-title">Email: hussain818gh@@hotmail.com</h3>
</div>