@{
    Student[] students;
    if (ViewData["students"] != null) students = ((IEnumerable<Student>)(ViewData["students"])).ToArray<Student>();
    else students = new Student[] { };
}

<div class="text-center">
    @if (students.Length > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Bootcamp</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var student in students)
                    {
                        <tr>
                            <td>@student.Id</td>
                            <td>@student.Name</td>
                            <td><a href="/Home/Bootcamps/@student.Bootcamp">@student.Bootcamp</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No Results</h1>
        <h4>No students found with the given criteria</h4>
    }
</div>
