@page
@model EF_MVC.Views.Books.IndexModel
@{
    var books = (List<BookModel>)ViewBag.Books;
    books = books.Reverse();
}

<div class="ui center aligned container">
    <div class="ui link cards" style="margin-left:85px">
        @foreach (var book in books)
        {
            <div class="card">
                <div class="image">
                    <img src=@book.Cover>
                </div>
                <div class="content">
                    <div class="header">@book.Title</div>
                    <div class="meta">
                        @book.Author
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <i class="pencil alternate icon"></i>
                        75 Reviews
                    </span>
                </div>
            </div>
        }

    </div>
</div>