
@page
@model BooksStoreMVC.Views.Authers.IndexModel
@{


    var Authers = (List<AutherModel>)ViewBag.Authers;


}

@foreach (var auth in Authers)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@auth.AuthId</h5>
            <p class="card-text">@auth.AuthName | @auth.AuthPhone</p>
        </div>
    </div>
}
