@{
    var Paintings = (List<PaintingModel>)ViewData["Paintings"];
}

<h1 style="text-align: center; color: #ffffff; margin-top: 10%;">Paintings</h1>


<div class="container">
    <div class="row">

        @foreach (var item in Paintings)
        {

            <div class="col-4" style="margin-bottom:20px" text-align:center">
                <div class="card mb-3">
                    <h3 class="card-header">@item.PntName</h3>
                    <div class="card-body">
                        <img class="card-img-top" src="@item.PntImg" alt="Card image cap" height="200" width="80">
                    </div>

                    <div class="card-body">
                        <a href="/Paintings/Details?artId=@item.ArtistId&pintId=@item.PntId" class="btn btn-dark">See More</a>
                    </div>
                </div>
            </div>


        }

    </div>
</div>