@{
    ViewData["Title"] = "Home Page";
}

<div class="ui internally celled grid"  style="margin-top: 130px">
    <div class="row">
        <div class="four wide column">
            <img src="https://d33wubrfki0l68.cloudfront.net/c6a54be7d89b1ebc31ad2f5558ee470fd4ebd11e/1fb54/institute-images/logo-text-black-centered.png"  style="margin-bottom: 65px; margin-top: 130px"/>

        </div>
        <div class="eight wide center aligned column">
            <img src="https://images.gr-assets.com/misc/1618603242-1618603242_goodreads_misc.png">
            <h1>Search for your favourite books and sahre your review with others</h1>
        </div>
        <div class="four wide column">
            <img src="https://ajel.sa/uploads/material-file/5fbea55cce529602ae2d5572/5fbea5274662d.jpg" style="margin-top: 130px"/>
        </div>
    </div>

</div>