@{
    ViewData["Title"] = "Home Page";
}

<div class="ui internally celled grid">
    <div class="row">
        <div class="four wide column">
            <img src="https://www.marketplace.org/wp-content/uploads/2021/01/Books_New-e1611252343470.jpg?fit=2879%2C1619">
        </div>
        <div class="eight wide center aligned column">
            <h1>Raneen</h1>
            <h2>Hi</h2>
            <h3>from</h3>
            <p>dfgvhnjmkiuyjgfewfmjerngverng3rnjvjerjvnervernvrejvrevrenverbnhrvbherv</p>
            <h1>Raneen</h1>
            <h2>Hi</h2>
            <h3>from</h3>
            <p>dfgvhnjmkiuyjgfewfmjerngverng3rnjvjerjvnervernvrejvrevrenverbnhrvbherv</p>
            <h1>Raneen</h1>
            <h2>Hi</h2>
            <h3>from</h3>
            <p>dfgvhnjmkiuyjgfewfmjerngverng3rnjvjerjvnervernvrejvrevrenverbnhrvbherv</p>

        </div>
        <div class="four wide column">
            <img src="https://www.marketplace.org/wp-content/uploads/2021/01/Books_New-e1611252343470.jpg?fit=2879%2C1619">
        </div>
    </div>

</div>