@{
    ViewData["Title"] = "Home Page";
}

<div class="main2">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light " id="navbar">
            <div class="container">
                <a class="navbar-brand text-uppercase  Home-nav " href="/"><span class="nav-text3">Music</span><span style="color:red">.</span></a>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">



                        <li class="nav-item">
                            <a class="nav-link text-nav" href="/Musics"><span class="nav-text2">All Music </span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nav" href="/Users"><span class="nav-text2">Channel</span></a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h1 class="h1-main1"><span class="The-Main-page"> THE</span> </h1> 
    <h1 class="h1-main2"><span class="h1-word-main1"> REAL</span></h1>
    <h1 class="h1-main3"><span class="h1-word-main1"> SOUND <i class="fas fa-music" style="font-size:55px"></i></span></h1>
    <h1 class="h1-main4">Click Here To Go To All Music &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="/Musics" style="color:white"> <span class="playicon"><i class="far fa-play-circle"></i></span></a></h1>

</div>
