@page
@{
    var data = (List<CustomerModel>)ViewBag.Data;
}
<h4>Customers </h4>
<div class="row d-flex justify-content-center">
    <div class="container bg-light p-5 mb-2 rounded ">
        <div class="col-md-12">
            <table id="myTable" class="table">
                <thead class="bg-dark text-light">
                    <tr>
                        <th width="200">Name</th>
                        <th>Phone #</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in data)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.PhoneNumber</td>
                        </tr>

                    }

                </tbody>
            </table>

        </div>

    </div>

</div>
