@{
    ViewData["Title"] = "Home Page";
}
<div style="
    width: 900px;
        border: 15px solid aliceblue;
        padding: 50px;
        margin: 20px;
        align-content: center;
    ">
    <div class="text-center"> 
    <h1 class="intro-title">TeachMe</h1>
        
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="align-content:center;" >
        <div class="carousel-inner">
            <div class="carousel-item active"style="align-content:center;">
                <img class="d-block w-100" src="https://images.unsplash.com/photo-1610018556010-6a11691bc905?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="First slide" >
            </div>
            <div class="carousel-item"style="align-content:center;">
                <img class="d-block w-100"style="align-content:center" src="https://images.unsplash.com/photo-1574689036858-7a1d72de3998?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzl8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Second slide" >
            </div>
            <div class="carousel-item"style="align-content:center;">
                <img class="d-block w-100"style="align-content:center" src="https://images.unsplash.com/photo-1597787185613-cf51d79fa7e4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Third slide">
            </div>
            <div class="carousel-item"style="align-content:center;">
                <img class="d-block w-100"style="align-content:center" src="https://images.unsplash.com/photo-1581090698407-7d93959da202?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Third slide">
            </div>
            <div class="carousel-item"style="align-content:center;">
                <img class="d-block w-100"style="align-content:center" src="https://images.unsplash.com/photo-1549319114-d67887c51aed?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Third slide">
            </div>
            @*<div class="carousel-item"style="align-content:center;">
                <img class="d-block w-100"style="align-content:center" src="https://images.unsplash.com/photo-1600267147646-33cf514b5f3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjV8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Third slide">
            </div>*@
            <div class="carousel-item"style="align-content:center;">
                <img class="d-block w-100"style="align-content:center" src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="text-center"> 
    <h2 class="intro-title">Start your Class Now</h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index"> Get Started </a>
    </div><!--slide item like paragraph-->
</div>
</div>
