@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
*@    <!--<h1 class="display-4 text-muted">Welcome</h1><span>glad to have you here</span>-->
@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@@*</div>
*@