@{
    Layout = "_myLayout";

    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome to PlayerReview!</h1>

<h5 class="d-inline"> See Games and their reviews and decide for your self!</h5> 
<a class="btn btn-info ml-2" href="/games" role="button">SEE GAMES <i class="fas fa-chevron-right pl-2"></i></a>

<div class="text-center mt-5">

    <img src="https://www.rcrwireless.com/wp-content/uploads/2020/09/114992844_l-scaled.jpg" width="1000px" height="450px"/>

</div>


 